@use '../variables' as *;

.btn-link {
  width: fit-content;
  display: flex;
  gap: 3px;
  align-items: center;
  line-height: 28px;
  transition: filter .2s ease-in; // Add transition

  .btn {
    position: relative;
    padding: 10px 14px;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &.btn-primary {
      background-color: $clr-primary-500;
      border: none;

      &+.icon-wrap {
        background-color: $clr-primary-500;
        border: none;
      }
    }

    &.btn-secondary {
      background-color: transparent;

      &.btn-dark {
        border: 1px solid $clr-neutral-900;
      }

      &.btn-light {
        color: white;
        border: 1px solid $clr-neutral-100;
      }
    }

  }

  .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 3px;
    padding: 13px;
  }

  .btn-light+.icon-wrap {
    border: 1px solid $clr-neutral-100;
  }

  .btn-dark+.icon-wrap {
    border: 1px solid $clr-neutral-900;
  }

  &:hover {
    filter: brightness(1.15);

    .icon-wrap {
      animation: bounceX 0.7s cubic-bezier(0.68, -0.2, 0.27, 1.55);
    }
  }

  &>.btn-xl {
    padding: 1.5rem;
    font-size: 2rem;

    &+.icon-wrap {
      padding: 1.7rem;
    }
  }
}


@keyframes bounceX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0);
  }
}