header {
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // .logo-link {
    //   width: 151px;
    // }
    .nav-menu .nav-links {
      display: flex;
      gap: 10px;
      padding-inline: 10px;
      border-radius: 60px;
      background: linear-gradient(90deg, rgba(13, 94, 135, 0.13) 0.14%, rgba(253, 2, 2, 0.10) 121.7%);
      .nav-link {
        padding: 16px 18.5px;
      }
    }
  }
}