@use '../variables' as *;

header {
  position: absolute;
  top: 1.5rem;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.4s linear;

  @media screen and (max-width: 425px) {
    top: 1rem;
  }

  &.header-scroll {
    top: 0;
    position: fixed;
    z-index: 50;
    padding-block-start: .5rem;
    transition: all 0.5s ease;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // .logo-link {
    //   width: 151px;
    // }
    .nav-menu .nav-links {
      display: flex;
      gap: 10px;
      padding-inline: 10px;
      border-radius: 60px;
      // background: linear-gradient(90deg, rgba(13, 94, 135, 0.13) 0.14%, rgba(253, 2, 2, 0.10) 121.7%);
      background: linear-gradient(90deg, #DCE3EB 0.11%, #EDDBE0 99.89%);

      .nav-link {
        padding: 16px 15px;
        position: relative;

        &.active {
          font-weight: $fw-bold;

          &::before {
            content: "";
            position: absolute;
            bottom: .9rem;
            left: 50%;
            transform: translateX(-50%);
            width: 6px;
            height: 6px;
            background-color: rgb(24, 23, 21);
            border-radius: 50%;
          }
        }
      }
    }

    &.nav-light {
      .nav-menu .nav-links {
        color: $clr-neutral-100;
        background: linear-gradient(90deg, rgba(63, 146, 187, 0.48) 0.14%, rgba(227, 80, 80, 0.34) 121.7%);
      
        .nav-link.active::before {
          background-color: $clr-neutral-100;
        }
      }

    }

    .nav-toggler {
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
      height: 55px;
      width: 55px;
      display: none;
      border: 1px solid $clr-neutral-900;

      span {
        margin: auto;
      }

    }

    .nav-toggler span,
    .nav-toggler span:before,
    .nav-toggler span:after {
      width: 25px;
      height: 3px;
      border-radius: 2px;
      background-color: $clr-neutral-900;
      display: block;
      transition: 0.3s;
    }

    .nav-toggler span:before {
      content: "";
      transform: translateY(-7px);
    }

    .nav-toggler span:after {
      content: "";
      transform: translateY(4px);
    }

    .nav-toggler.toggler-open span {
      background-color: transparent;
    }

    .nav-toggler.toggler-open span:before {
      transform: translateY(0px) rotate(45deg);
    }

    .nav-toggler.toggler-open span:after {
      transform: translateY(-3px) rotate(-45deg);
    }

    @media screen and (max-width: 1044px) {
      .logo-link {
        width: 150px;
      }

      .nav-btns {
        display: flex;
        gap: .75rem;
        align-items: center;
      }

      .nav-toggler {
        display: block;
      }

      .navbar {
        min-height: 60px;
      }

      .nav-menu .nav-links {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        flex-direction: column;
        align-items: end;
        background: #ebedf1f4;
        backdrop-filter: blur(21px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        height: 0;
        overflow: hidden;
        gap: 0;
        border-radius: 0;
        transition: height 0.1s ease-out;


        .nav-link {
          margin-block: $size-450;
          opacity: 0;
          font-size: 4rem;
          font-weight: 600;
          transition: opacity 0.8s ease-in;
          transition: margin-block 0.5s ease-out;
        }
      }

      .nav-links.open {
        opacity: 1;
        padding-top: 90px;
        padding-right: 1.5rem;
        height: 100vh;
        overflow: visible;
      }

      .nav-links.open .nav-link {
        opacity: 1;
        margin-block: $size-600;
        padding-block: 0;
      }
    }

    @media screen and (max-width: 540px) {
      .nav-btns .btn-link {
        display: none;
      }
    }
  }
}

