@use "../variables" as *;

.services-hero-section {
  .wrapper {
    padding-block-start: 3rem;

    .hero-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        color: $clr-neutral-900;
        text-shadow: none;
        line-height: 79px;
        max-width: 700px;
      }
    }

    .hero-content {
      display: flex;
      gap: 5rem;
      align-items: center;
      padding-block-start: 2rem;
      .hero-img {
        width: 100%;
      }
      .hero-text {
        max-width: 500px;
        img {
          width: 85px;
        }
        p {
          margin-block: 1.5rem;
        }
        a {
          font-size: $fs-sm;
          padding: 12px 14px;
          border-radius: 50px;
          border: 1px solid rgba(3, 24, 34, 0.60);;
        }
      }
    }

  }
}