// Primary colors
$clr-primary-500: #189EE1;
$clr-primary-400: #F1D7D7; // #FD0202
$clr-primary-300: linear-gradient(91deg, #F92C2C 17.65%, #1398D9 49.48%);
$clr-primary-200: linear-gradient(132deg, #D3DAE2 0%, #F3D4D7 101.59%);
$clr-primary-100: linear-gradient(90deg, rgba(13, 94, 135, 0.18) 0.14%, rgba(253, 2, 2, 0.14) 121.7%);

// Neutral colors
$clr-neutral-900: #201D1D;
$clr-neutral-800: #03151E;
$clr-neutral-700: linear-gradient(90deg, #364247 0%, #273033 100%);
$clr-neutral-200: #FFF8F8;
$clr-neutral-100: #FFFFFF;

// font families
$ff-header: "Aulia Grotesk", sans-serif;
$ff-body: "Mona Sans", sans-serif;

// font weights
$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 600;

// font sizes
$fs-h1: clamp(1.95rem, 1.404867256637168rem + 2.7256637168141595vw, 3.875rem);
$fs-h2: clamp(1.575rem, 1.206858407079646rem + 1.84070796460177vw, 2.875rem);
$fs-h3: clamp(1.5rem, 1.4292035398230087rem + 0.35398230088495575vw, 1.75rem);
$fs-body: clamp(1rem, 0.9646017699115044rem + 0.17699115044247787vw, 1.125rem);
$fs-sm: clamp(0.875rem, 0.8396017699115044rem + 0.17699115044247787vw, 1rem);

// sizing
$size-100: 0.25rem;
$size-200: 0.5rem;
$size-250: 0.625rem;
$size-300: 0.75rem;
$size-350: 0.875rem;
$size-400: 1rem;
$size-450: 1.125rem;
$size-500: 1.5rem;
$size-600: 2rem;
$size-700: 3rem;
$size-800: 4rem;

