@use 'variables' as *;
@use 'reset';
@use 'typography';

// Components
@use 'components/button';
@use 'components/header';
@use 'components/footer';

// Utility classes
.container {
  max-width: 1450px;
  padding-inline: $size-600;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .container {
    padding-inline: $size-250;
  }
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: $fw-bold;
}

.text-center {
  text-align: center;
}

.label-highlight {
  font-weight: $fw-semi-bold;
  padding: 9px 18px;
  border-radius: 80px;
  background: linear-gradient(90deg, rgba(255, 211, 211, 0.82) 0%, rgba(238, 244, 247, 0.82) 100%);
  backdrop-filter: blur(2px);
}