---
// Component imports
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Home - Ahadu Global Network"
  description="A premier media production and studio rental company based in Washington D.C."
>
  <Header />

  <main>
    <h1>Welcome to My Site</h1>
    <p>This is the index page of my Astro website.</p>
  </main>

  <Footer />
</Layout>
