---
import { Icon } from "astro-icon/components";
---

<footer>
  <div class="footer-wrapper container">
    <div class="col-1">
      <a href="/" aria-label="Home" class="logo-link"
        ><Icon name="logo-light" size={100} /></a
      >
      <p class="abt-company">
        AGN Studios is a premier media production company, ready to help you
        connect with your audience.
      </p>
      <div class="social-links">
        <a href="/" class="social">
          <Icon
            name="facebook"
            aria-label="facebook page"
            width={28}
            height={28}
          />
        </a>
        <a href="/" class="social">
          <Icon
            name="twitter"
            aria-label="twitter page"
            width={28}
            height={28}
          />
        </a>
        <a href="/" class="social">
          <Icon
            name="youtube"
            aria-label="youtube page"
            width={28}
            height={28}
          />
        </a>
        <a href="/" class="social">
          <Icon
            name="instagram"
            aria-label="instagram page"
            width={28}
            height={28}
          />
        </a>
      </div>
      <hr />
    </div>
    <div class="col-2">
      <h3 class="footer-heading">Quick Links</h3>
      <div class="footer-links">
        <ul role="list" class="links-col-1">
          <li class="footer-link">
            <a href="/home" aria-label="Home">Home</a>
          </li>
          <li class="footer-link">
            <a href="/about" aria-label="About">About</a>
          </li>
          <li class="footer-link">
            <a href="/contact" aria-label="Contact">Contact</a>
          </li>
          <li class="footer-link">
            <a href="/services" aria-label="Services">Services</a>
          </li>
        </ul>
        <ul role="list" class="links-col-2">
          <li class="footer-link">
            <a href="/studios#studio-1" aria-label="Studio 1">Studio 1</a>
          </li>
          <li class="footer-link">
            <a href="/studios#studio-2" aria-label="Studio 2">Studio 2</a>
          </li>
          <li class="footer-link">
            <a href="/studios#virtual-studio" aria-label="Virtual Studio"
              >Virtual Studio</a
            >
          </li>
          <li class="footer-link">
            <a href="/studios#green-screen" aria-label="Green Screen"
              >Green Screen</a
            >
          </li>
        </ul>
        <ul role="list" class="links-col-3">
          <li class="footer-link">
            <a href="/gallery" aria-label="Gallery">Gallery</a>
          </li>
          <li class="footer-link">
            <a href="/privacy-policy" aria-label="Privacy Policy"
              >Privacy Policy</a
            >
          </li>
          <li class="footer-link">
            <a href="/terms-and-conditions" aria-label="Terms and Conditions"
              >Terms and Conditions</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <h3 class="footer-heading">Contacts</h3>
      <p class="contact-info">AHADU GLOBAL NETWORK LLC</p>
      <a
        class="contact-info"
        style="display: block;"
        href="https://maps.app.goo.gl/n8xxdxeQw3huyHPa7"
      >
        Suite 220 North Tower, The Ronald Reagan Building, The International Trade Center, 1300 Pennsylvania Ave., NW, Washington DC 20004, United States
      </a>
      <a
        class="contact-info"
        style="display: block;"
        href="mailto:info@ahaduglobal.com"
      >
        info@ahaduglobal.com
      </a>
      <p class="contact-info">+1202 669 9250</p>
    </div>
  </div>
  <p class="copy">© 2024 AHADU GLOBAL NETWORK LLC</p>
</footer>
