---
// Component imports
import Button from "../components/Button.astro";
import { Icon } from "astro-icon/components";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const isNavLight =
  typeof className === "string" && className.includes("nav-light");

const buttonClass = isNavLight
  ? "btn-secondary btn-light"
  : "btn-secondary btn-dark";
---

<header>
  <div class:list={["header-wrapper", "container", className]}>
    <a href="/" aria-label="Home" class="logo-link"
      ><Icon name="logo" size={100} /></a
    >

    <nav class="nav-menu">
      <ul role="list" class="nav-links">
        <li class="nav-link">
          <a href="/" class="active" aria-label="Home" data-page="home">Home</a>
        </li>
        <li class="nav-link">
          <a href="/about" aria-label="About" data-page="about">About</a>
        </li>
        <li class="nav-link">
          <a href="/contact" aria-label="Contact" data-page="contact">Contact</a
          >
        </li>
        <li class="nav-link">
          <a href="/services" aria-label="Services">Services</a>
        </li>
        <li class="nav-link">
          <a href="/gallery" aria-label="Gallery">Gallery</a>
        </li>
      </ul>
    </nav>
    <div class="nav-btns">
      <Button
        href="/contact"
        class={buttonClass}
        text="Contact Us"
        icon={isNavLight ? "message-light" : "message"}
      />
      <button class="nav-toggler"><span></span></button>
    </div>
  </div>
</header>

<script>
  const navToggler = document.querySelector(".nav-toggler") as HTMLElement;
  const navMenu = document.querySelector(".nav-links");
  const navLinks = document.querySelectorAll(".navbar a");
  allEventListners();

  function allEventListners() {
    navToggler.addEventListener("click", togglerClick);
    navLinks.forEach((elem) => elem.addEventListener("click", navLinkClick));
  }

  function togglerClick() {
    navToggler.classList.toggle("toggler-open");
    navMenu.classList.toggle("open");
    document.body.classList.toggle(
      "no-scroll",
      navMenu.classList.contains("open")
    );
  }

  function navLinkClick() {
    if (navMenu.classList.contains("open")) {
      navToggler.click();
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    const pages = window.location.pathname.split("/");
    const links = document.querySelectorAll("nav li a");
    const home = document.querySelector("a[data-page='home']");
    links.forEach((link) => {
      const linkPage = link.getAttribute("data-page");
      if (pages.includes(linkPage)) {
        link.classList.add("active");
        home.classList.remove("active");
      }
    });
  });
</script>
